<ion-view class="background" title="Allergy" id="page10">
    <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>
  <ion-content padding="true" class="manual-remove-top-padding has-header">
      <div class="spacer" style="height: 20px;"></div>
   
      <div class="spacer" style="height: 20px;"></div>
      <div class="spacer" style="height: 20px;"></div>

    <h4 id="allergy-heading3" style="color:#000000;text-align:center;">Choose a Symptom</h4>
    <ion-list id="allergy-list2">
      <ion-item class="item-icon-right" id="allergy-list-item21" ui-sref="tabsController.coldUrticaria()">Cold urticaria
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="allergy-list-item22" ui-sref="tabsController.eyeIrritation()">Eye irritation
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="allergy-list-item23" ui-sref="tabsController.hayFever()">Hay fever
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="allergy-list-item24" ui-sref="tabsController.hives()">Hives
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="allergy-list-item25" ui-sref="tabsController.itchyNose()">Itchy Nose
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="allergy-list-item26" ui-sref="tabsController.findNasalCongestionMedicines()">Nasal congestion
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="allergy-list-item27" ui-sref="tabsController.findRunnyNoseMedicines()">Runny nose
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="allergy-list-item28" ui-sref="tabsController.sinusCongestion()">Sinus congestion
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="allergy-list-item29" ui-sref="tabsController.findSkinMedicinesFirstAid()">Skin rash
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="allergy-list-item30" ui-sref="tabsController.sneezing()">Sneezing
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="allergy-list-item31" ui-sref="tabsController.findSunAllergyMedicines2()">Sun allergy
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="allergy-list-item32" ui-sref="tabsController.weals()">Weals
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>