<ion-view class="background" title="Avenoc Suppositories" id="page674">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="muscleSorenessImprovedByFirmPressure-heading1172" style="color:#000000;text-align:center;">Boiron Products</h4>
   

    <div class="list card" id="bleedingEasily-card2103">
        <ion-item id="bleedingEasily-list-item222">Avenoc Suppositories</ion-item>
        <div class=" item item-image">
          <img src="img/zf3UqwdgRum1rGkREbSH_avenoc-suppositories.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto; max-width: 400px;">
        </div>
        <div class="item item-body" id="bleedingEasily-list-item-container181">
          <div id="bleedingEasily-markdown338" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Temporarily relieves minor symptoms of hemorrhoids such as discomfort, itching, burning </p>
          </div>
        </div>
        <a ui-sref="tabsController.findAStore()" id="bleedingEasily-button131" class="button button-positive button-block">Find Near You</a>
        <h5 id="bleedingEasily-heading188" style="color:#000000;">Dosage:</h5>
        <div class="item item-body" id="bleedingEasily-list-item-container182">
          <div id="bleedingEasily-markdown339" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Adults and children 12 years of age and older: When practical, gently cleanse the affected area with mild soap and warm water and rinse thoroughly. Do not dry. Insert one Avenoc Suppository rectally morning and night. Children under 12 years
              of age: Ask a doctor. For rectal use only. Ask a doctor before use in case of bleeding. When using this product, do not exceed the recommended daily dosage unless directed by a doctor. Stop use and ask a doctor if symptoms persist for more
              than 7 days or worsen. This could be a sign of a serious condition. If pregnant or breast-feeding, ask a health professional before use. Keep out of reach of children. If swallowed, get medical help or contact a Poison Control Center right
              away. </p>
          </div>
        </div>





    <h4 id="muscleSorenessImprovedByFirmPressure-heading1176" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
    <div id="muscleSorenessImprovedByFirmPressure-markdown2029" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="muscleSorenessImprovedByFirmPressure-markdown2030" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

      <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
    </div>
    <a ui-sref="tabsController.homeopathicDilutions()" id="muscleSorenessImprovedByFirmPressure-button818" style="color:#FFFFFF;" class="button button-positive button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>