<ion-view class="background" title="Boils - Onset of boils" id="page263">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="boilsOnsetOfBoils-heading854" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="boilsOnsetOfBoils-form207" class="list">
      <ion-toggle toggle-class="toggle-positive" id="boilsOnsetOfBoils-toggle206" ng-model="showContent">Warnings &amp; Information</ion-toggle>
    </form>
    <div id="boilsOnsetOfBoils-markdown1506" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Boils are infections of hair follicles. They usually heal by themselves. A homeopathic treatment accelerates the maturation of the boil and its drainage. Do not squeeze or puncture a boil. See a doctor if the boil worsens, if more boils appear,
        if pain increases, or if boils tend to recur.</p>
    </div>
    <div class="list card" id="boilsOnsetOfBoils-card2505">
      <ion-item id="boilsOnsetOfBoils-list-item700">Hepar sulphuris calcareum 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; padding: 10px; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="boilsOnsetOfBoils-list-item-container791">
        <div id="boilsOnsetOfBoils-markdown1509" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Hepar sulphuris calcareum in a low dilution speeds up the maturation of boils.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="boilsOnsetOfBoils-button601" class="button button-positive button-block">Find Near You</a>
      <h5 id="boilsOnsetOfBoils-heading856" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="boilsOnsetOfBoils-list-item-container792">
        <div id="boilsOnsetOfBoils-markdown1510" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue every 2 hours. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="boilsOnsetOfBoils-card2506">
      <h4 id="boilsOnsetOfBoils-heading857" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
      <div id="boilsOnsetOfBoils-markdown1511" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
          or accompany a particular medicine.</p>
      </div>
      <div id="boilsOnsetOfBoils-markdown1512" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

        <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
      </div>
      <a ui-sref="tabsController.homeopathicDilutions()" id="boilsOnsetOfBoils-button602" class="button button-positive button-block">Learn about homeopathic dilutions</a>
    </div>
  </ion-content>
</ion-view>