<ion-view class="background" title="Burning with Fissures" id="page66">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="burningWithFissures-heading192" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="burningWithFissures-form45" class="list">
      <ion-toggle toggle-class="toggle-positive" id="burningWithFissures-toggle44" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="burningWithFissures-markdown346" class="show-list-numbers-and-dots"></div>
    </form>
    <div id="burningWithFissures-markdown347" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">See a doctor if bleeding increases or persists more than a day.</p>
    </div>
    <div class="list card" id="burningWithFissures-card2106">
      <ion-item id="burningWithFissures-list-item225">Avenoc Ointment</ion-item>
      <div class=" item item-image">
        <img src="img/2vyFbAS4KHmgPvXEgLAI_AvenocOintment-left-800.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="burningWithFissures-list-item-container187">
        <div id="burningWithFissures-markdown348" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Temporarily relieves minor symptoms of hemorrhoids such as discomfort, itching, burning </p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore_tab8()" id="burningWithFissures-button135" class="button button-positive button-block">Find Near You</a>
      <h5 id="burningWithFissures-heading193" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="burningWithFissures-list-item-container188">
        <div id="burningWithFissures-markdown349" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Adults and children 2 years of age and older: At the onset of symptoms, dissolve 2 tablets or 5 pellets under the tongue every 15 minutes for 1 hour. Then, dissolve 2 tablets or 5 pellets under the tongue 3 times a day until symptoms are relieved.
            Children 2 to 6 years of age: Dissolve 2 tablets in 1 tablespoon of water for easier intake, then follow directions above, or use Children's RhinAllergy. Ask a doctor before use in children under 2 years of age. Stop use and ask a doctor if
            symptoms persist continuously for more than 7 days or worsen. If pregnant or breast-feeding, ask a health professional before use. Keep out of reach of children. </p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <div class="list card" id="burningWithFissures-card2107">
      <ion-item id="burningWithFissures-list-item226">Avenoc Suppositories</ion-item>
      <div class=" item item-image">
        <img src="img/zf3UqwdgRum1rGkREbSH_avenoc-suppositories.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="burningWithFissures-list-item-container189">
        <div id="burningWithFissures-markdown350" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Temporarily relieves minor symptoms of hemorrhoids such as discomfort, itching, burning </p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore_tab8()" id="burningWithFissures-button136" class="button button-positive button-block">Find Near You</a>
      <h5 id="burningWithFissures-heading194" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="burningWithFissures-list-item-container190">
        <div id="burningWithFissures-markdown351" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Adults and children 12 years of age and older: When practical, gently cleanse the affected area with mild soap and warm water and rinse thoroughly. Do not dry. Insert one Avenoc Suppository rectally morning and night. Children under 12 years
            of age: Ask a doctor. For rectal use only. Ask a doctor before use in case of bleeding. When using this product, do not exceed the recommended daily dosage unless directed by a doctor. Stop use and ask a doctor if symptoms persist for more
            than 7 days or worsen. This could be a sign of a serious condition. If pregnant or breast-feeding, ask a health professional before use. Keep out of reach of children. If swallowed, get medical help or contact a Poison Control Center right
            away. </p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <div class="list card" id="burningWithFissures-card2109">
      <ion-item id="burningWithFissures-list-item228">Graphites 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; padding: 10px; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="burningWithFissures-list-item-container193">
        <div id="burningWithFissures-markdown354" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Graphites relieves constipation without urges, very large and dry stools, with feeling of heaviness in the lower abdomen, and often associated with anal itching and burning and hemorrhoids.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore_tab8()" id="burningWithFissures-button138" class="button button-positive button-block">Find Near You</a>
      <h5 id="burningWithFissures-heading196" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="burningWithFissures-list-item-container194">
        <div id="burningWithFissures-markdown355" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 3 times a day. Decrease frequency with improvement.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <h4 id="burningWithFissures-heading197" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
    <div id="burningWithFissures-markdown356" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="burningWithFissures-markdown357" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

      <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
    </div>
    <a ui-sref="tabsController.homeopathicDilutions_tab4()" id="burningWithFissures-button139" style="color:#FFFFFF;" class="button button-positive button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>