<ion-view class="background" title="Calcarea carbonica 30C" id="page681">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="muscleSorenessImprovedByFirmPressure-heading1172" style="color:#000000;text-align:center;">Boiron Products</h4>
   

    <div class="list card" id="diaperRash-card241">
        <ion-item id="diaperRash-list-item149">Calcarea carbonica 30C</ion-item>
        <div class=" item item-image">
          <img src="img/SingleMedicines.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; padding: 10px; margin-right: auto; max-width: 400px;">
        </div>
        <div class="item item-body" id="diaperRash-list-item-container70">
          <div id="diaperRash-markdown151" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Calcarea carbonica relieves skin eruptions on an infant, such as cradle cap and diaper rash</p>
          </div>
        </div>
        <a ui-sref="tabsController.findAStore()" id="diaperRash-button57" class="button button-positive button-block">Find Near You</a>
        <h5 id="diaperRash-heading80" style="color:#000000;">Dosage:</h5>
        <div class="item item-body" id="diaperRash-list-item-container78">
          <div id="diaperRash-markdown152" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Give the baby 5 pellets every 2 hours the first day. Then, give 5 pellets 3 times a day for 3 days. The pellets can be dissolved in 1 oz. of pure water.</p>
          </div>
        </div>
      </div>





    <h4 id="muscleSorenessImprovedByFirmPressure-heading1176" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
    <div id="muscleSorenessImprovedByFirmPressure-markdown2029" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="muscleSorenessImprovedByFirmPressure-markdown2030" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

      <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
    </div>
    <a ui-sref="tabsController.homeopathicDilutions()" id="muscleSorenessImprovedByFirmPressure-button818" style="color:#FFFFFF;" class="button button-positive button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>