<ion-view class="background" title="Canker Sore - Clearly Delimited" id="page142">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="cankerSoreClearlyDelimited-heading454" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="cankerSoreClearlyDelimited-form105" class="list">
      <ion-toggle toggle-class="toggle-positive" id="cankerSoreClearlyDelimited-toggle104" ng-model="showContent">Warnings &amp; Information</ion-toggle>
    </form>
    <div id="cankerSoreClearlyDelimited-markdown792" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">See a doctor if the canker sore is unusually large, if it recurs frequently or if more appear, or if you have a high fever or increasing pain.</p>
    </div>
    <div class="list card" id="cankerSoreClearlyDelimited-card2285">
      <ion-item id="cankerSoreClearlyDelimited-list-item438">Kali bichromicum 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; padding: 10px; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="cankerSoreClearlyDelimited-list-item-container445">
        <div id="cankerSoreClearlyDelimited-markdown795" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Kali bichromicum relieves canker sores that are deep and clean cut, with a yellowish color.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="cankerSoreClearlyDelimited-button326" class="button button-positive button-block">Find Near You</a>
      <h5 id="cankerSoreClearlyDelimited-heading456" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="cankerSoreClearlyDelimited-list-item-container446">
        <div id="cankerSoreClearlyDelimited-markdown796" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 3 times a day. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="cankerSoreClearlyDelimited-card2286">
      <h4 id="cankerSoreClearlyDelimited-heading457" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
      <div id="cankerSoreClearlyDelimited-markdown797" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
          or accompany a particular medicine.</p>
      </div>
      <div id="cankerSoreClearlyDelimited-markdown798" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

        <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
      </div>
      <a ui-sref="tabsController.homeopathicDilutions()" id="cankerSoreClearlyDelimited-button327" class="button button-positive button-block">Learn about homeopathic dilutions</a>
    </div>
  </ion-content>
</ion-view>