<ion-view class="background" title="Canker Sore - On The Cheeks" id="page145">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="cankerSoreOnTheCheeks-heading464" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="cankerSoreOnTheCheeks-form108" class="list">
      <ion-toggle toggle-class="toggle-positive" id="cankerSoreOnTheCheeks-toggle107" ng-model="showContent">Warnings &amp; Information</ion-toggle>
    </form>
    <div id="cankerSoreOnTheCheeks-markdown809" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">See a doctor if the canker sore is unusually large, if it recurs frequently or if more appear, or if the child has a high fever or increasing pain.</p>
    </div>
    <div class="list card" id="cankerSoreOnTheCheeks-card2291">
      <ion-item id="cankerSoreOnTheCheeks-list-item441">Borax 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; padding: 10px; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="cankerSoreOnTheCheeks-list-item-container451">
        <div id="cankerSoreOnTheCheeks-markdown810" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Borax relieves canker sores, especially in young children, that occur inside the cheeks.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="cankerSoreOnTheCheeks-button332" class="button button-positive button-block">Find Near You</a>
      <h5 id="cankerSoreOnTheCheeks-heading465" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="cankerSoreOnTheCheeks-list-item-container452">
        <div id="cankerSoreOnTheCheeks-markdown811" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 3 times a day. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="cankerSoreOnTheCheeks-card2292">
      <h4 id="cankerSoreOnTheCheeks-heading466" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
      <div id="cankerSoreOnTheCheeks-markdown812" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
          or accompany a particular medicine.</p>
      </div>
      <div id="cankerSoreOnTheCheeks-markdown813" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

        <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
      </div>
      <a ui-sref="tabsController.homeopathicDilutions()" id="cankerSoreOnTheCheeks-button333" class="button button-positive button-block">Learn about homeopathic dilutions</a>
    </div>
  </ion-content>
</ion-view>