<ion-view class="background" title="Chalazion (small bump on the eyelid)" id="page244">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="chalazionSmallBumpOnTheEyelid-heading780" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="chalazionSmallBumpOnTheEyelid-form189" class="list">
      <ion-toggle toggle-class="toggle-positive" id="chalazionSmallBumpOnTheEyelid-toggle188" ng-model="showContent">Warnings &amp; Information</ion-toggle>
    </form>
    <div id="chalazionSmallBumpOnTheEyelid-markdown1379" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A chalazion is a small bump on the eyelid caused by blockage of an oil gland. It usually heals itself within a month. See a doctor if the chalazion gets bigger or does not heal, or if your vision changes.</p>
    </div>
    <div class="list card" id="chalazionSmallBumpOnTheEyelid-card2449">
      <ion-item id="chalazionSmallBumpOnTheEyelid-list-item664">Optique 1</ion-item>
      <div class=" item item-image">
        <img src="img/NJPBVzORhaV177PvISLQ_Optique1-30-Unidoses-left-800.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="chalazionSmallBumpOnTheEyelid-list-item-container715">
        <div id="chalazionSmallBumpOnTheEyelid-markdown1380" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Temporarily relieves minor eye irritation due to fatigue or airborne irritants such as ragweed, other pollens and dust; Soothes red, dry, itchy, gritty, burning, or tired eyes.*</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="chalazionSmallBumpOnTheEyelid-button545" class="button button-positive button-block">Find Near You</a>
      <h5 id="chalazionSmallBumpOnTheEyelid-heading781" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="chalazionSmallBumpOnTheEyelid-list-item-container716">
        <div id="chalazionSmallBumpOnTheEyelid-markdown1381" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Adults and children 2 years of age and older: Snap off one single-use dose. Twist to open. Instill 1 or 2 drops, or more if necessary, in affected eye(s). Repeat 2 to 6 times a day, as needed, or as directed by a doctor. Children under 2 years
            of age: Ask a doctor. To avoid contamination, do not touch tip of container to any surface. Do not touch the eye with the tip of the container. Do not reuse. Once opened, discard container after each use. Do not use if solution changes color
            or becomes cloudy. Stop use and ask a doctor if you experience eye pain, changes in vision, continued redness or irritation of the eye, or if the condition worsens or persists for more than 72 hours. If pregnant or breast-feeding, ask a health
            professional before use. Keep out of reach of children. </p>
        </div>
      </div>
    </div>
    <div class="list card" id="chalazionSmallBumpOnTheEyelid-card2450">
      <ion-item id="chalazionSmallBumpOnTheEyelid-list-item665">Staphysagria 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; padding: 10px; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="chalazionSmallBumpOnTheEyelid-list-item-container717">
        <div id="chalazionSmallBumpOnTheEyelid-markdown1382" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Staphysagria relieves nodes, chalazia and sties on the eyelids.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="chalazionSmallBumpOnTheEyelid-button546" class="button button-positive button-block">Find Near You</a>
      <h5 id="chalazionSmallBumpOnTheEyelid-heading782" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="chalazionSmallBumpOnTheEyelid-list-item-container718">
        <div id="chalazionSmallBumpOnTheEyelid-markdown1383" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 3 times a day. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="spacer" style="height: 50px;"></div>
    <h4 id="chalazionSmallBumpOnTheEyelid-heading784" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
    <div id="chalazionSmallBumpOnTheEyelid-markdown1386" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="chalazionSmallBumpOnTheEyelid-markdown1387" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

      <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
    </div>
    <a ui-sref="tabsController.homeopathicDilutions()" id="chalazionSmallBumpOnTheEyelid-button548" class="button button-positive button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>