<ion-view class="background" title="Find Women's Health Medicines" id="page416">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="findWomenSHealthMedicines-heading1321" style="color:#000000;text-align:center;">Choose an Additional Symptom</h4>
    <ion-list id="findWomenSHealthMedicines-list101">
      <ion-item class="item-icon-right" id="findWomenSHealthMedicines-list-item1174" ui-sref="tabsController.findWomenSHeadacheMedicines()">Headaches
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findWomenSHealthMedicines-list-item1175" ui-sref="tabsController.findHeavyLegsMedicines()">Heavy legs
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findWomenSHealthMedicines-list-item1176" ui-sref="tabsController.findHeavyMenstruationMedicines()">Heavy menstruation
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findWomenSHealthMedicines-list-item1177" ui-sref="tabsController.findHotFlashMedicines()">Hot flashes
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findWomenSHealthMedicines-list-item1178" ui-sref="tabsController.findIrritabilityMedicines()">Irritability
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findWomenSHealthMedicines-list-item1179" ui-sref="tabsController.findMenstrualCrampMedicines()">Menstrual cramps
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findWomenSHealthMedicines-list-item1181" ui-sref="tabsController.morningSickness()">Morning sickness
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findWomenSHealthMedicines-list-item1180" ui-sref="tabsController.findNightSweatsMedicines()">Nights sweats
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findWomenSHealthMedicines-list-item1182" ui-sref="tabsController.findPerimenopauseMedicines()">Perimenopause
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findWomenSHealthMedicines-list-item1183" ui-sref="tabsController.findPremenstrualSyndromeMedicines()">Premenstrual syndrome
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findWomenSHealthMedicines-list-item1185" ui-sref="tabsController.findProfuseSweatingMedicines()">Profuse sweating
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findWomenSHealthMedicines-list-item1184" ui-sref="tabsController.findSleeplessnessMeds()">Sleeplessness
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findWomenSHealthMedicines-list-item1186" ui-sref="tabsController.yeastInfection()">Yeast infection
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>