<ion-view class="background" title="Find Warts Medicines" id="page329">
  <ion-content padding="true" class="manual-remove-top-padding has-header">
    <h4 id="findWartsMedicines-heading1046" style="color:#000000;text-align:center;">Choose a Symptom</h4>
    <ion-list id="findWartsMedicines-list69">
      <ion-item class="item-icon-right" id="findWartsMedicines-list-item859" ui-sref="tabsController.feverDryAndHotSkin()">Around the nails
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findWartsMedicines-list-item860" ui-sref="tabsController.feverImprovedByStayingImmobile()">Flat, translucent
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findWartsMedicines-list-item861" ui-sref="tabsController.feverWithExhaustion()">Hard, calloused warts
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findWartsMedicines-list-item862" ui-sref="tabsController.feverWithHypersensitivityToLightAndNoise()">On the face
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findWartsMedicines-list-item863" ui-sref="tabsController.feverWithProfuseSweating()">Single large plantar wart
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findWartsMedicines-list-item864" ui-sref="tabsController.feverWithRestlessness()">Under the nails
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>