<ion-view class="background" title="Find Apprehension Medicines" id="page411">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="findApprehensionMedicines-heading1316" style="color:#000000;text-align:center;">Choose an Additional Symptom</h4>
    <ion-list id="findApprehensionMedicines-list96">
      <ion-item class="item-icon-right" id="findApprehensionMedicines-list-item1131" ui-sref="tabsController.apprehensionAggravatedByEmotion()">Aggravated by emotion
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findApprehensionMedicines-list-item1132" ui-sref="tabsController.apprehensionHurriednessFromStress()">Hurriedness from stress
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findApprehensionMedicines-list-item1133" ui-sref="tabsController.apprehensionHypersensitivityToStress()">Hypersensitivity to stress
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findApprehensionMedicines-list-item1134" ui-sref="tabsController.apprehensionLumpInTheThroat()">Lump in the throat
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findApprehensionMedicines-list-item1135" ui-sref="tabsController.apprehensionWithBelching2()">With belching
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findApprehensionMedicines-list-item1136" ui-sref="tabsController.apprehensionWithGeneralWeakness2()">With general weakness
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findApprehensionMedicines-list-item1137" ui-sref="tabsController.apprehensionWithLackOfMemory2()">With lack of memory
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findApprehensionMedicines-list-item1138" ui-sref="tabsController.apprehensionWithStomachaches()">With stomachaches
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findApprehensionMedicines-list-item1139" ui-sref="tabsController.apprehensionWithTrembling()">With trembling
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>