<ion-view class="background" title="Find Lower Back Pain Medicines" id="page339">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="findLowerBackPainMedicines-heading1078" style="color:#000000;text-align:center;">Choose a Category </h4>
    <ion-list id="findLowerBackPainMedicines-list73">
      <ion-item class="item-icon-right" id="findLowerBackPainMedicines-list-item907" ui-sref="tabsController.lowerBackPainFeelingOfWeaknessInTheLowerBack()">Feeling of weakness in the lower back
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findLowerBackPainMedicines-list-item908" ui-sref="tabsController.lowerBackPainWithShootingPain()">With shooting pain
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findLowerBackPainMedicines-list-item909" ui-sref="tabsController.lowerBackPainWorseWithRest()">Worse with rest
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>