<ion-view class="background" title="Find Toothache Medicines" id="page394">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="findToothacheMedicines-heading1288" style="color:#000000;text-align:center;">Choose a Category </h4>
    <ion-list id="findToothacheMedicines-list82">
      <ion-item class="item-icon-right" id="findToothacheMedicines-list-item1041" ui-sref="tabsController.toothachesFromNewTeeth()">From new teeth
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findToothacheMedicines-list-item1045" ui-sref="tabsController.toothachesHypersensitivityToPain()">Hypersensitivity to pain
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findToothacheMedicines-list-item1046" ui-sref="tabsController.toothachesTriggeredByColdDrinks()">Triggered by cold drinks
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findToothacheMedicines-list-item1047" ui-sref="tabsController.toothachesTriggeredByHotDrinks()">Triggered by hot drinks
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findToothacheMedicines-list-item1048" ui-sref="tabsController.toothachesWithShootingPain()">With shooting pain
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>