<ion-view class="background" title="Find Scar Medicines" id="page290">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="findScarMedicines-heading918" style="color:#000000;text-align:center;">Choose an Additional Symptom</h4>
    <ion-list id="findScarMedicines-list61">
      <ion-item class="item-icon-right" id="findScarMedicines-list-item774" ui-sref="tabsController.scarsFromBurns()">From burns
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findScarMedicines-list-item775" ui-sref="tabsController.scarsFromChickepox()">From chickenpox
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findScarMedicines-list-item776" ui-sref="tabsController.scarsFromSurgery()">From surgery
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findScarMedicines-list-item777" ui-sref="tabsController.scarsPainfulScars()">Painful scars
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findScarMedicines-list-item778" ui-sref="tabsController.scarsThickScars()">Thick scars
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findScarMedicines-list-item779" ui-sref="tabsController.scarsWithItching()">With itching
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>