<ion-view class="background" title="Find Stop Smoking Medicines" id="page409">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="findStopSmokingMedicines-heading1314" style="color:#000000;text-align:center;">Choose a Category </h4>
    <ion-list id="findStopSmokingMedicines-list94">
      <ion-item class="item-icon-right" id="findStopSmokingMedicines-list-item1110" ui-sref="tabsController.stopSmokingIrritability()">Irritability
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findStopSmokingMedicines-list-item1111" ui-sref="tabsController.stopSmokingNeedToEat()">Need to eat
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findStopSmokingMedicines-list-item1112" ui-sref="tabsController.stopSmokingTobaccoCraving()">Tobacco craving with nausea
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>