<ion-view class="background" title="Find Surgery Medicines" id="page405">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="findSurgeryMedicines-heading1310" style="color:#000000;text-align:center;">Choose a Category </h4>
    <ion-list id="findSurgeryMedicines-list90">
      <ion-item class="item-icon-right" id="findSurgeryMedicines-list-item1100" ui-sref="tabsController.itchingOfSurgicalWounds()">Itching from wound healing
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findSurgeryMedicines-list-item1102" ui-sref="tabsController.surgeryPreSurgery()">Pre-surgery
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="findSurgeryMedicines-list-item1101" ui-sref="tabsController.surgeryPostSurgery()">Post-surgery
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>