<ion-view class="background" title="Fissures - With oozing and dry, crusty skin" id="page262">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="fissuresWithOozingAndDryCrustySkin-heading850" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="fissuresWithOozingAndDryCrustySkin-form206" class="list">
      <ion-toggle toggle-class="toggle-positive" id="fissuresWithOozingAndDryCrustySkin-toggle205" ng-model="showContent">Warnings &amp; Information</ion-toggle>
    </form>
    <div id="fissuresWithOozingAndDryCrustySkin-markdown1499" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">See a doctor if itching is intense, or if fissures become infected.</p>
    </div>
    <div class="list card" id="fissuresWithOozingAndDryCrustySkin-card2501">
      <ion-item id="fissuresWithOozingAndDryCrustySkin-list-item697">Calendula Ointment</ion-item>
      <div class=" item item-image">
        <img src="img/tE3YGh4MTDyBrSma9dyV_CalendulaOintment.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="fissuresWithOozingAndDryCrustySkin-list-item-container785">
        <div id="fissuresWithOozingAndDryCrustySkin-markdown1500" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Helps promote healing of cuts, scrapes and minor burns; Heals chapped hands and lips and nasal irritation from colds</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="fissuresWithOozingAndDryCrustySkin-button597" class="button button-positive button-block">Find Near You</a>
      <h5 id="fissuresWithOozingAndDryCrustySkin-heading851" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="fissuresWithOozingAndDryCrustySkin-list-item-container786">
        <div id="fissuresWithOozingAndDryCrustySkin-markdown1501" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">For minor burns, immediately run cool water on the burn for several minutes and dry. For cuts, scrapes and chapped skin, first cleanse the area with mild soap, rinse and dry. Then apply a thin layer of Calendula Ointment to affected area 3 times
            a day or as needed. For external use only. Avoid contact with eyes. Do not use if you are allergic to Calendula officinalis or to any of this product's inactive ingredients. Ask a doctor before use in case of deep or puncture wounds, animal
            bites or serious burns. Stop use and ask a doctor if condition persists for more than 3 days or worsens. Keep out of reach of children. If swallowed, get medical help or contact a Poison Control Center right away.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="fissuresWithOozingAndDryCrustySkin-card2502">
      <ion-item id="fissuresWithOozingAndDryCrustySkin-list-item698">Graphites 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; padding: 10px; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="fissuresWithOozingAndDryCrustySkin-list-item-container787">
        <div id="fissuresWithOozingAndDryCrustySkin-markdown1502" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Graphites relieves fissures on dry skin, with oozing and crust.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="fissuresWithOozingAndDryCrustySkin-button598" class="button button-positive button-block">Find Near You</a>
      <h5 id="fissuresWithOozingAndDryCrustySkin-heading852" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="fissuresWithOozingAndDryCrustySkin-list-item-container788">
        <div id="fissuresWithOozingAndDryCrustySkin-markdown1503" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under your tongue morning and evening. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="fissuresWithOozingAndDryCrustySkin-card2503">
      <h4 id="fissuresWithOozingAndDryCrustySkin-heading853" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
      <div id="fissuresWithOozingAndDryCrustySkin-markdown1504" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
          or accompany a particular medicine.</p>
      </div>
      <div id="fissuresWithOozingAndDryCrustySkin-markdown1505" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

        <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
      </div>
      <a ui-sref="tabsController.homeopathicDilutions()" id="fissuresWithOozingAndDryCrustySkin-button599" class="button button-positive button-block">Learn about homeopathic dilutions</a>
    </div>
  </ion-content>
</ion-view>