<ion-view class="background" title="From grief, anger, or vexation" id="page50">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="fromGriefAngerOrVexation2-heading131" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="fromGriefAngerOrVexation2-form32" class="list">
      <ion-toggle toggle-class="toggle-positive" id="fromGriefAngerOrVexation2-toggle31" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="fromGriefAngerOrVexation2-markdown231" class="show-list-numbers-and-dots"></div>
    </form>
    <div id="fromGriefAngerOrVexation2-markdown232" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">See a doctor if sleeplessness makes it difficult to function during the day, or if digestive disturbances last for more than 7 days or worsen.</p>
    </div>
    <div class="list card" id="fromGriefAngerOrVexation2-card273">
      <ion-item id="fromGriefAngerOrVexation2-list-item182">Quietude</ion-item>
      <div class=" item item-image">
        <img src="img/quietude.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="fromGriefAngerOrVexation2-list-item-container123">
        <div id="fromGriefAngerOrVexation2-markdown233" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Temporarily relieves occasional sleeplessness and/or restless sleep</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="fromGriefAngerOrVexation2-button90" class="button button-positive button-block">Find Near You</a>
      <h5 id="fromGriefAngerOrVexation2-heading132" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="fromGriefAngerOrVexation2-list-item-container124">
        <div id="fromGriefAngerOrVexation2-markdown234" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Adults and children 12 years of age and older: Dissolve 2 tablets under the tongue 3 hours before bedtime. Then, dissolve 2 tablets under the tongue at bedtime. Children under 12 years of age: Ask a doctor. Stop use and ask a doctor if symptoms
            persist continuously for more than 2 weeks or worsen. Insomnia may be a symptom of a serious underlying illness. If pregnant or breast-feeding, ask a health professional before use. Keep out of reach of children.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <div class="list card" id="fromGriefAngerOrVexation2-card274">
      <ion-item id="fromGriefAngerOrVexation2-list-item183">Staphysagria 30C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; padding: 10px; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="fromGriefAngerOrVexation2-list-item-container125">
        <div id="fromGriefAngerOrVexation2-markdown235" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Staphysagria relieves physical symptoms and irritability caused by grief, repressed anger or vexation.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="fromGriefAngerOrVexation2-button91" class="button button-positive button-block">Find Near You</a>
      <h5 id="fromGriefAngerOrVexation2-heading133" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="fromGriefAngerOrVexation2-list-item-container126">
        <div id="fromGriefAngerOrVexation2-markdown236" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue in the morning. Decrease frequency with improvement.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <h4 id="fromGriefAngerOrVexation2-heading134" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
    <div id="fromGriefAngerOrVexation2-markdown237" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="fromGriefAngerOrVexation2-markdown238" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

      <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
    </div>
    <a ui-sref="tabsController.homeopathicDilutions()" id="fromGriefAngerOrVexation2-button92" style="color:#FFFFFF;" class="button button-positive button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>