<ion-view class="background" title="Hay fever" id="page9">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="hayFever-heading13" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="hayFever-form5" class="list">
      <ion-toggle toggle-class="toggle-positive" id="hayFever-toggle4" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="hayFever-markdown9" class="show-list-numbers-and-dots"></div>
    </form>
    <div id="hayFever-markdown10" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Hay fever is caused by your particular sensitivity to allergens (pollens, molds, dust mites, cat's saliva, etc.). Try to eliminate the source of allergens to decrease the frequency and intensity of hay fever. If facial pain or tenderness occurs,
        or if the discharge changes from watery to thick and purulent, see a doctor.</p>
    </div>
    <div class="list card" id="hayFever-card26">
      <ion-item id="hayFever-list-item34">RhinAllergy</ion-item>
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider4" delegate-handle="slider4" id="hayFever-slider4" style="width:100%;height:200px;">
        <ion-slide-page id="hayFever-slide21" style="background:url(&quot;img/5mWlHnyQDql36ReUk9jw_306969315040-RhinAllergy-FRONT-3000.jpg&quot;) no-repeat center;background-size:contain;"></ion-slide-page>
        <ion-slide-page id="hayFever-slide22" style="background:url(&quot;img/mVohOLBR8WoWa8LI5p8A_306969317433-RhinAllergy_Kids_Pellets-FRONT-3000.jpg&quot;) no-repeat center;background-size:contain;"></ion-slide-page>
        <ion-slide-page id="hayFever-slide23" style="background:url(&quot;img/oZjMsPFSsunJt4RENdoW_306969316047-RhinAllergy_Kids-FRONT-3000.jpg&quot;) no-repeat center;background-size:contain;"></ion-slide-page>
      </ion-slides>
      <div class="item item-body" id="hayFever-list-item-container11">
        <div id="hayFever-markdown19" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Temporarily relieves one or more of these symptoms of hay fever or other upper respiratory allergies: itchy and watery eyes, sneezing, runny nose, itchy throat and nose.*</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="hayFever-button10" class="button button-positive button-block">Find Near You</a>
      <h5 id="hayFever-heading15" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="hayFever-list-item-container12">
        <div id="hayFever-markdown23" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Adults and children 2 years of age and older: At the onset of symptoms, dissolve 2 tablets or 5 pellets under the tongue every 15 minutes for 1 hour. Then, dissolve 2 tablets or 5 pellets under the tongue 3 times a day until symptoms are relieved.
            Children 2 to 6 years of age: Dissolve 2 tablets in 1 tablespoon of water for easier intake, then follow directions above, or use Children's RhinAllergy. Ask a doctor before use in children under 2 years of age. Stop use and ask a doctor if
            symptoms persist continuously for more than 7 days or worsen. If pregnant or breast-feeding, ask a health professional before use. Keep out of reach of children. </p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <div class="list card" id="hayFever-card25">
      <ion-item id="hayFever-list-item36">Galphimia glauca 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; padding: 10px; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="hayFever-list-item-container16">
        <div id="hayFever-markdown38" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Galphimia glauca relieves spasmodic sneezing caused by hay fever.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="hayFever-button9" class="button button-positive button-block">Find Near You</a>
      <h5 id="hayFever-heading17" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="hayFever-list-item-container19">
        <div id="hayFever-markdown39" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 3 times a day. Decrease frequency with improvement.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <div class="list card" id="hayFever-card27">
      <ion-item id="hayFever-list-item37">Histaminum 30C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; padding: 10px; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="hayFever-list-item-container20">
        <div id="hayFever-markdown18" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Histaminum relieves all symptoms of allergic origin.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="hayFever-button13" class="button button-positive button-block">Find Near You</a>
      <h5 id="hayFever-heading12" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="hayFever-list-item-container21">
        <div id="hayFever-markdown24" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 3 times a day. Decrease frequency with improvement.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <div class="list card" id="hayFever-card28">
      <ion-item id="hayFever-list-item40">Apis mellifica</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; padding: 10px; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="hayFever-list-item-container22">
        <div id="hayFever-markdown25" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Apis mellifica relieves nasal congestion with stinging pain, improved by cold air.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="hayFever-button14" class="button button-positive button-block">Find Near You</a>
      <h5 id="hayFever-heading14" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="hayFever-list-item-container23">
        <div id="hayFever-markdown26" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 3 times a day. Decrease frequency with improvement.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <h4 id="hayFever-heading16" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
    <div id="hayFever-markdown22" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="hayFever-markdown27" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

      <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
    </div>
    <a ui-sref="tabsController.homeopathicDilutions()" id="hayFever-button11" style="color:#FFFFFF;" class="button button-positive button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>