<ion-view class="background" title="Heartburn - With gas and bloating" id="page188">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="heartburnWithGasAndBloating-heading593" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="heartburnWithGasAndBloating-form144" class="list">
      <ion-toggle toggle-class="toggle-positive" id="heartburnWithGasAndBloating-toggle143" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="heartburnWithGasAndBloating-markdown1064" class="show-list-numbers-and-dots"></div>
    </form>
    <div id="heartburnWithGasAndBloating-markdown1065" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">See a doctor if heartburn is frequent and accompanied by acid reflux.</p>
    </div>
    <div class="list card" id="heartburnWithGasAndBloating-card2344">
      <ion-item id="heartburnWithGasAndBloating-list-item525">Acidil</ion-item>
      <div class=" item item-image">
        <img src="img/HCzudmM1SOCTv6mrivg9_Acidil.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="heartburnWithGasAndBloating-list-item-container545">
        <div id="heartburnWithGasAndBloating-markdown1066" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Temporarily relieves occasional heartburn, acid indigestion, bloating or upset stomach</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore_tab8()" id="heartburnWithGasAndBloating-button418" class="button button-positive button-block">Find Near You</a>
      <h5 id="heartburnWithGasAndBloating-heading594" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="heartburnWithGasAndBloating-list-item-container546">
        <div id="heartburnWithGasAndBloating-markdown1067" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Adults and children 12 years of age and older: At the onset of symptoms, dissolve 2 tablets under the tongue every 15 minutes for 1 hour. If necessary, dissolve 2 tablets under the tongue 15 minutes before meals until symptoms are relieved.
            Children under 12 years of age: Ask a doctor. Stop use and ask a doctor if symptoms persist continuously for more than 7 days or worsen. If you have trouble swallowing or persistent abdominal pain, see a doctor promptly. If pregnant or breast-feeding,
            ask a health professional before use. Keep out of reach of children. </p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <div class="list card" id="heartburnWithGasAndBloating-card2346">
      <ion-item id="heartburnWithGasAndBloating-list-item527">Cinchona officinalis 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; padding: 10px; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="heartburnWithGasAndBloating-list-item-container549">
        <div id="heartburnWithGasAndBloating-markdown1068" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Cinchona officinalis relieves excessive production of gas in the entire abdomen.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore_tab8()" id="heartburnWithGasAndBloating-button419" class="button button-positive button-block">Find Near You</a>
      <h5 id="heartburnWithGasAndBloating-heading595" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="heartburnWithGasAndBloating-list-item-container550">
        <div id="heartburnWithGasAndBloating-markdown1069" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue every hour. Decrease frequency with improvement.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <div class="list card" id="heartburnWithGasAndBloating-card2349">
      <ion-item id="heartburnWithGasAndBloating-list-item529">Lycopodium 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; padding: 10px; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="heartburnWithGasAndBloating-list-item-container555">
        <div id="heartburnWithGasAndBloating-markdown1072" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Lycopodium relieves the bloated feeling in the stomach associated with heartburn.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore_tab8()" id="heartburnWithGasAndBloating-button421" class="button button-positive button-block">Find Near You</a>
      <h5 id="heartburnWithGasAndBloating-heading597" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="heartburnWithGasAndBloating-list-item-container556">
        <div id="heartburnWithGasAndBloating-markdown1073" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue every hour. Decrease frequency with improvement.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <h4 id="heartburnWithGasAndBloating-heading596" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
    <div id="heartburnWithGasAndBloating-markdown1070" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="heartburnWithGasAndBloating-markdown1071" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

      <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
    </div>
    <a ui-sref="tabsController.homeopathicDilutions_tab4()" id="heartburnWithGasAndBloating-button420" style="color:#FFFFFF;" class="button button-positive button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>