<ion-view class="background" title="Homepathic Medicines" id="page523">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   <ion-content padding="true" class="has-header">

        <iframe style="width:100%; height:670px;" src="//e.issuu.com/embed.html#8335659/2712417" frameborder="0" allowfullscreen></iframe>
    <!--
    <h4 id="homepathicMedicines-heading1660" style="color:#000000;">What are homeopathic medicines?</h4>
    <div class="spacer" style="height: 10px;"></div>
    <div id="homepathicMedicines-markdown2893" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Homeopathic medicines have been used by generations of physicians for more than 200 years to address many acute ilnnesses. Millions of patients around the world rely on these medicines to help relieve symptoms of flu, allergies, coughs, colds, muscle
        pain, teething, and other common conditions.*</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <p>
      In the United States, homeopathic medicines are manufactured under strict accordance with the
      <i>Homeopathic Pharmacopoeia of the United States</i> They are regulated as a homeopathic drug by the Food and Drug Administration.
      <br> Some conditions require diagnoses and treatments by a health care professional. If symptoms persist or worsen, seek medical attention right away. Always read and follow label directions.
    </p>
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="homepathicMedicines-heading1661" style="color:#000000;">Is there any scientific research on homeopathic medicines?</h4>
    <div class="spacer" style="height: 10px;"></div>
    <div id="homepathicMedicines-markdown2894" class="show-list-numbers-and-dots">
      <p style="color:#000000;">An increasing number of scientific studies on homeopathic medicines are being conducted and published in peer-reviewed journals. Clinical research is providing evidence of the efficacy of homeopathic medicines, and basic laboratory research is confirming
        the biological activity of highly diluted substances and helping the scientific community better understand their mechanism of action. </p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="homepathicMedicines-heading1662" style="color:#000000;">What are the benefits of homeopathic medicines?</h4>
    <div class="spacer" style="height: 10px;"></div>


    -->
  </ion-content>
</ion-view>