<ion-view class="background" title="Insect bites - Wasps, bees" id="page274">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="insectBitesWaspsBees-heading901" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="insectBitesWaspsBees-form218" class="list">
      <ion-toggle toggle-class="toggle-positive" id="insectBitesWaspsBees-toggle217" ng-model="showContent">Warnings &amp; Information</ion-toggle>
    </form>
    <div id="insectBitesWaspsBees-markdown1589" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Remove the bee sting and disinfect the wound. Apply cold compresses. Do not scratch the wound to avoid superinfection. See a doctor immediately if you are allergic to bee stings, if you are experiencing difficulty breathing, if you have been stung
        in or around the mouth, or if you have several stings.</p>
    </div>
    <div class="list card" id="insectBitesWaspsBees-card2540">
      <ion-item id="insectBitesWaspsBees-list-item724">Calendula Gel</ion-item>
      <div class=" item item-image">
        <img src="img/xsHwYvfCRuGDa5DJSkP7_CalendulaGel.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="insectBitesWaspsBees-list-item-container839">
        <div id="insectBitesWaspsBees-markdown1590" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Helps promote healing of skin irritations such as razor burn and insect bites or stings</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="insectBitesWaspsBees-button636" class="button button-positive button-block">Find Near You</a>
      <h5 id="insectBitesWaspsBees-heading902" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="insectBitesWaspsBees-list-item-container840">
        <div id="insectBitesWaspsBees-markdown1591" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">For skin irritations, razor burn, and insect bites or stings, first cleanse the area with mild soap, rinse and dry. Then apply a thin layer of Calendula Gel to affected area 3 times a day or as needed. For external use only. Avoid contact with
            eyes. Do not use if you are allergic to Calendula officinalis or to any of this product's inactive ingredients. Ask a doctor before use in case of deep or puncture wounds, animal bites or serious burns. Stop use and ask a doctor if condition
            persists for more than 3 days or worsens. Keep out of reach of children. If swallowed, get medical help or contact a Poison Control Center right away.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="insectBitesWaspsBees-card2541">
      <ion-item id="insectBitesWaspsBees-list-item725">Apis mellifica 30C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; padding: 10px; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="insectBitesWaspsBees-list-item-container841">
        <div id="insectBitesWaspsBees-markdown1592" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Apis mellifica relieves swollen, itching, burning skin or lips, relieved by cold compresses.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="insectBitesWaspsBees-button637" class="button button-positive button-block">Find Near You</a>
      <h5 id="insectBitesWaspsBees-heading903" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="insectBitesWaspsBees-list-item-container842">
        <div id="insectBitesWaspsBees-markdown1593" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under your tongue every hour. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="insectBitesWaspsBees-card2543">
      <ion-item id="insectBitesWaspsBees-list-item726">Histaminum 30C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; padding: 10px; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="insectBitesWaspsBees-list-item-container843">
        <div id="insectBitesWaspsBees-markdown1596" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Histaminum relieves symptoms of allergies, such as hay fever, hives or a reaction to insect bites.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="insectBitesWaspsBees-button639" class="button button-positive button-block">Find Near You</a>
      <h5 id="insectBitesWaspsBees-heading905" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="insectBitesWaspsBees-list-item-container844">
        <div id="insectBitesWaspsBees-markdown1597" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under your tongue every hour. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="insectBitesWaspsBees-card2542">
      <h4 id="insectBitesWaspsBees-heading904" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
      <div id="insectBitesWaspsBees-markdown1594" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
          or accompany a particular medicine.</p>
      </div>
      <div id="insectBitesWaspsBees-markdown1595" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

        <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
      </div>
      <a ui-sref="tabsController.homeopathicDilutions()" id="insectBitesWaspsBees-button638" class="button button-positive button-block">Learn about homeopathic dilutions</a>
    </div>
  </ion-content>
</ion-view>