<ion-view class="background" title="Premenstrual Syndrome - With Mood Swings" id="page497">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="premenstrualSyndromeWithMoodSwings-heading1598" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="premenstrualSyndromeWithMoodSwings-form377" class="list">
      <ion-toggle toggle-class="toggle-positive" id="premenstrualSyndromeWithMoodSwings-toggle376" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="premenstrualSyndromeWithMoodSwings-markdown2759" class="show-list-numbers-and-dots"></div>
    </form>
    <div id="premenstrualSyndromeWithMoodSwings-markdown2760" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">See a doctor if PMS disturbs your life or if you have trouble managing the symptoms.</p>
    </div>
    <div class="list card" id="premenstrualSyndromeWithMoodSwings-card2933">
      <ion-item id="premenstrualSyndromeWithMoodSwings-list-item1318">Cyclease PMS</ion-item>
      <div class=" item item-image">
        <img src="img/AKPy1BHCQ6uH1J4Mz6mY_CycleasePMS.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="premenstrualSyndromeWithMoodSwings-list-item-container1463">
        <div id="premenstrualSyndromeWithMoodSwings-markdown2761" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Temporarily relieves premenstrual symptoms such as discomfort, aches, bloating and irritability</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore_tab8()" id="premenstrualSyndromeWithMoodSwings-button1107" class="button button-positive button-block">Find Near You</a>
      <h5 id="premenstrualSyndromeWithMoodSwings-heading1599" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="premenstrualSyndromeWithMoodSwings-list-item-container1464">
        <div id="premenstrualSyndromeWithMoodSwings-markdown2762" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Adults and children 12 years of age and older: Dissolve 2 tablets under the tongue morning and evening until symptoms are relieved. Children under 12 years of age: Not recommended. Stop use and ask a doctor if symptoms persist for more than
            7 days or worsen. If pregnant or breast-feeding, ask a health professional before use. Keep out of reach of children.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <div class="list card" id="premenstrualSyndromeWithMoodSwings-card2934">
      <ion-item id="premenstrualSyndromeWithMoodSwings-list-item1319">Sepia 30C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; padding: 10px; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="premenstrualSyndromeWithMoodSwings-list-item-container1465">
        <div id="premenstrualSyndromeWithMoodSwings-markdown2763" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Sepia relieves mood swings from PMS associated with irritability and poor venous circulation. Sepia 12C is present in Cyclease PMS.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore_tab8()" id="premenstrualSyndromeWithMoodSwings-button1108" class="button button-positive button-block">Find Near You</a>
      <h5 id="premenstrualSyndromeWithMoodSwings-heading1600" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="premenstrualSyndromeWithMoodSwings-list-item-container1466">
        <div id="premenstrualSyndromeWithMoodSwings-markdown2764" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue twice a day. Decrease frequency with improvement.</p>
        </div>
      </div>
      <div class="spacer" style="height: 50px;"></div>
    </div>
    <h4 id="premenstrualSyndromeWithMoodSwings-heading1601" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
    <div id="premenstrualSyndromeWithMoodSwings-markdown2765" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="premenstrualSyndromeWithMoodSwings-markdown2766" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

      <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
    </div>
    <a ui-sref="tabsController.homeopathicDilutions_tab4()" id="premenstrualSyndromeWithMoodSwings-button1109" style="color:#FFFFFF;" class="button button-positive button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>