<ion-view class="background" title="Prickly Heat (Miliaria) - Itching is Worsened by Contact with Water" id="page310">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-heading964" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-form233" class="list">
      <ion-toggle toggle-class="toggle-positive" id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-toggle232" ng-model="showContent">Warnings &amp; Information</ion-toggle>
    </form>
    <div id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-markdown1660" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Sweat rash, or prickly heat, appears in hot and humid conditions (i.e., tropics or summer). Avoid activities that induce sweating, wear light clothing, and take cold showers, using a mild soap. If open blisters or pustular lesions appear, see a
        doctor. Miliaria can often be confused with shingles or other conditions. See a doctor if in doubt.</p>
    </div>
    <div class="list card" id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-card2568">
      <ion-item id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-list-item815">Apis mellifica 30C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; padding: 10px; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-list-item-container865">
        <div id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-markdown1661" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Apis mellifica relieves skin rashes with swollen, itchy skin improved by cold applications.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-button664" class="button button-positive button-block">Find Near You</a>
      <h5 id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-heading965" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-list-item-container866">
        <div id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-markdown1662" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue every hour. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-card2569">
      <ion-item id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-list-item816">Histaminum 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; padding: 10px; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-list-item-container867">
        <div id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-markdown1663" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Histaminum relieves itching from an allergic origin.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-button665" class="button button-positive button-block">Find Near You</a>
      <h5 id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-heading966" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-list-item-container868">
        <div id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-markdown1664" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue every hour. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-card2571">
      <ion-item id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-list-item817">Urtica urens 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; padding: 10px; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-list-item-container869">
        <div id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-markdown1667" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Urtica urens relieves itching aggravated by cold and water.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-button667" class="button button-positive button-block">Find Near You</a>
      <h5 id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-heading968" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-list-item-container870">
        <div id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-markdown1668" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue 3 times a day or when needed. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-card2570">
      <h4 id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-heading967" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
      <div id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-markdown1665" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
          or accompany a particular medicine.</p>
      </div>
      <div id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-markdown1666" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

        <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
      </div>
      <a ui-sref="tabsController.homeopathicDilutions()" id="pricklyHeatMiliariaItchingIsWorsenedByContactWithWater-button666" class="button button-positive button-block">Learn about homeopathic dilutions</a>
    </div>
  </ion-content>
</ion-view>