<ion-view class="background" title="RhinAllergy Tablets" id="page513">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <form id="rhinAllergyTablets-form388" class="list">
      <ion-toggle toggle-class="toggle-positive" id="rhinAllergyTablets-toggle387" ng-model="showContent">Warnings &amp; Information</ion-toggle>
      <div id="rhinAllergyTablets-markdown2839" ng-show="showContent" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Ask a doctor before use in children under 2 years of age. Stop use and ask a doctor if symptoms persist continuously for more than 7 days or worsen. If pregnant or breast-feeding, ask a health professional before use. Keep out of reach of children.</p>
      </div>
      <div id="rhinAllergyTablets-markdown2840" class="show-list-numbers-and-dots"></div>
      <div class="list card" id="rhinAllergyTablets-card2950">
        <ion-item id="rhinAllergyTablets-list-item1344">RhinAllergy Tablets</ion-item>
        <div class=" item item-image">
          <img src="img/dofm8cWbRdCyhNTLCVuj_306969315040-RhinAllergy-FRONT.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto; max-width: 400px;">
        </div>
        <div class="item item-body" id="rhinAllergyTablets-list-item-container1497">
          <div id="rhinAllergyTablets-markdown2841" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Temporarily relieves one or more of these symptoms of hay fever or other upper respiratory allergies: itchy and watery eyes, sneezing, runny nose, and itchy throat and nose.</p>
          </div>
        </div>
        <a ui-sref="tabsController.findAStore()" id="rhinAllergyTablets-button1135" class="button button-positive button-block">Find Near You</a>
        <h5 id="rhinAllergyTablets-heading1633" style="color:#000000;">Dosage:</h5>
        <div class="item item-body" id="rhinAllergyTablets-list-item-container1498">
          <div id="rhinAllergyTablets-markdown2842" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Adults and children 2 years of age and older: At the onset of symptoms, dissolve 2 tablets under the tongue every 15 minutes for 1 hour. Then, dissolve 2 tablets under the tongue 3 times a day until symptoms are relieved. Children 2 to 6 years
              of age: Dissolve 2 tablets in 1 tablespoon of water for easier intake. Follow directions above.</p>
          </div>
        </div>
      </div>
    </form>
    <h4 id="rhinAllergyTablets-heading1634" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
    <div id="rhinAllergyTablets-markdown2843" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
        or accompany a particular medicine.</p>
    </div>
    <div id="rhinAllergyTablets-markdown2844" class="show-list-numbers-and-dots">
      <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

      <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
    </div>
    <a ui-sref="tabsController.homeopathicDilutions()" id="rhinAllergyTablets-button1136" style="color:#FFFFFF;" class="button button-positive button-block">Learn about homeopathic dilutions</a>
  </ion-content>
</ion-view>