<ion-view class="background" title="Scars - From Surgery" id="page314">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="scarsFromSurgery-heading982" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="scarsFromSurgery-form237" class="list">
      <ion-toggle toggle-class="toggle-positive" id="scarsFromSurgery-toggle236" ng-model="showContent">Warnings &amp; Information</ion-toggle>
    </form>
    <div id="scarsFromSurgery-markdown1692" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Closed scars from surgery can still be itchy or sensitive. Do not scratch newly formed scars to avoid infection. See a doctor if itching is intense or if pain increases, or if the scar becomes red and swollen.</p>
    </div>
    <div class="list card" id="scarsFromSurgery-card2582">
      <ion-item id="scarsFromSurgery-list-item825">Calendula Cream</ion-item>
      <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider54" delegate-handle="slider54" id="muscleOverexertion-slider54" style="width:100%;height:270px;">
        <ion-slide-page id="muscleOverexertion-slide2142" style="background:url(&quot;img/cream1.jpg&quot;) no-repeat center;background-size:contain;"></ion-slide-page>
        <ion-slide-page id="muscleOverexertion-slide2143" style="background:url(&quot;img/cream2.jpg&quot;) no-repeat center;background-size:contain;"></ion-slide-page>
        
      </ion-slides>
      <div class="item item-body" id="scarsFromSurgery-list-item-container885">
        <div id="scarsFromSurgery-markdown1693" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Helps promote healing of cuts, scrapes, chafing, minor burns and sunburn</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="scarsFromSurgery-button678" class="button button-positive button-block">Find Near You</a>
      <h5 id="scarsFromSurgery-heading983" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="scarsFromSurgery-list-item-container886">
        <div id="scarsFromSurgery-markdown1694" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">For minor burns, immediately run cool water on the burn for several minutes and dry. For cuts, scrapes and chafing, first cleanse the area with mild soap, rinse and dry. Then apply a thin layer of Calendula Cream to affected area 3 times a day
            or as needed. For external use only. Avoid contact with eyes. Do not use if you are allergic to Calendula officinalis or to this product's inactive ingredients. Ask a doctor before use in case of deep or puncture wounds, animal bites or serious
            burns. Stop use and ask a doctor if condition persists for more than 3 days or worsens. Keep out of reach of children. If swallowed, get medical help or contact a Poison Control Center right away.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="scarsFromSurgery-card2583">
      <ion-item id="scarsFromSurgery-list-item826">Staphysagria 6C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; padding: 10px; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="scarsFromSurgery-list-item-container887">
        <div id="scarsFromSurgery-markdown1695" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Staphysagria relieves itching and pain in surgical or clean cut wounds and warts.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="scarsFromSurgery-button679" class="button button-positive button-block">Find Near You</a>
      <h5 id="scarsFromSurgery-heading984" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="scarsFromSurgery-list-item-container888">
        <div id="scarsFromSurgery-markdown1696" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under your tongue 3 times a day. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="scarsFromSurgery-card2584">
      <h4 id="scarsFromSurgery-heading985" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
      <div id="scarsFromSurgery-markdown1697" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
          or accompany a particular medicine.</p>
      </div>
      <div id="scarsFromSurgery-markdown1698" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

        <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
      </div>
      <a ui-sref="tabsController.homeopathicDilutions()" id="scarsFromSurgery-button680" class="button button-positive button-block">Learn about homeopathic dilutions</a>
    </div>
  </ion-content>
</ion-view>