<ion-view class="background" title="Welcome Slider" hide-nav-bar="true" id="page212">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider48" delegate-handle="slider48" id="welcomeSlider-slider48" style="width:100%;height:100%;">
      <ion-slide-page id="welcomeSlider-slide2125" style="background-color:#19C9CD;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h4 id="welcomeSlider-heading672" style="color:#FFFFFF;text-align:center;">New Products From Boiron</h4>
              <div>
                <img src="img/5GoCgkvXQFGRr8bO4Tck_306962037000-Arnicare_RollOn_Twin_FRONT.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto; max-width: 400px;">
              </div>
              <h3 id="welcomeSlider-heading673" style="color:#FFFFFF;text-align:center;">Arnicare Roll-on Twin Pack</h3>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="welcomeSlider-slide2128" style="background-color:#1F73B9;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;">
              <h4 id="welcomeSlider-heading674" style="color:#FFFFFF;text-align:center;">New Products From Boiron</h4>
              <div>
                <img src="img/arnicarecream.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto; max-width: 400px;">
              </div>
              <h3 id="welcomeSlider-heading675" style="color:#FFFFFF;text-align:center;">Arnicare Roll-on Twin Pack</h3>
            </div>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>