<ion-view class="background" title="With Digestive Problems" id="page481">
  <ion-nav-buttons side="right" class="has-header">
        <button onclick="sharePhoto();" class="button icon ion-share"></button>
      </ion-nav-buttons>   </ion-nav-buttons>   <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
   
    <div class="spacer" style="height: 20px;"></div>
    <h4 id="withDigestiveProblems-heading1532" style="color:#000000;text-align:center;">Boiron Products</h4>
    <form id="withDigestiveProblems-form361" class="list">
      <ion-toggle toggle-class="toggle-positive" id="withDigestiveProblems-toggle360" ng-model="showContent">Warnings &amp; Information</ion-toggle>
    </form>
    <div id="withDigestiveProblems-markdown2629" ng-show="showContent" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Stop use and ask a doctor if symptoms persist continuously for more than 2 weeks or worsen. </p>
    </div>
    <div class="list card" id="withDigestiveProblems-card2899">
      <ion-item id="withDigestiveProblems-list-item1288">Sedalia</ion-item>
      <div class=" item item-image">
        <img src="img/qY1e631jSnCfCOgyMCTe_Sedalia-2018.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="withDigestiveProblems-list-item-container1401">
        <div id="withDigestiveProblems-markdown2630" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Temporarily relieves nervousness, hypersensitivity, irritability and fatigue due to stress; This medicine does not affect alertness</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="withDigestiveProblems-button1058" class="button button-positive button-block">Find Near You</a>
      <h5 id="withDigestiveProblems-heading1538" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="withDigestiveProblems-list-item-container1402">
        <div id="withDigestiveProblems-markdown2640" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Adults and children 12 years of age and older: At the onset of symptoms, dissolve 2 tablets under the tongue 3 times a day until symptoms are relieved. Children under 12 years of age: Ask a doctor. Stop use and ask a doctor if symptoms persist
            continuously for more than 2 weeks or worsen. If pregnant or breast-feeding, ask a health professional before use. Keep out of reach of children.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="withDigestiveProblems-card2904">
      <ion-item id="withDigestiveProblems-list-item1291">Nux vomica 30C</ion-item>
      <div class=" item item-image">
        <img src="img/SingleMedicines.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; padding: 10px; margin-right: auto; max-width: 400px;">
      </div>
      <div class="item item-body" id="withDigestiveProblems-list-item-container1407">
        <div id="withDigestiveProblems-markdown2641" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Nux vomica relieves irritability, nausea and digestive troubles associated with overindulgence in food, tobacco or alcohol.</p>
        </div>
      </div>
      <a ui-sref="tabsController.findAStore()" id="withDigestiveProblems-button1063" class="button button-positive button-block">Find Near You</a>
      <h5 id="withDigestiveProblems-heading1539" style="color:#000000;">Dosage:</h5>
      <div class="item item-body" id="withDigestiveProblems-list-item-container1408">
        <div id="withDigestiveProblems-markdown2642" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Dissolve 5 pellets under the tongue in the morning. Decrease frequency with improvement.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="withDigestiveProblems-card2905">
      <h4 id="withDigestiveProblems-heading1540" style="color:#000000;"class="medclaimer">Medical Disclaimer</h4>
      <div id="withDigestiveProblems-markdown2643" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">The information provided by Boiron’s Homeopathic Medicine Finder is not intended to replace information supplied by your health care professional. It is also not intended to replace packaging inserts or other printed materials that may be available
          or accompany a particular medicine.</p>
      </div>
      <div id="withDigestiveProblems-markdown2644" class="show-list-numbers-and-dots">
        <p style="color:#000000;"class="medclaimer">*Claims based on traditional homeopathic practice, not accepted medical evidence. Not FDA evaluated.</p>

        <p style="color:#000000;"class="medclaimer">**C, K, CK, and X are homeopathic dilutions.</p>
      </div>
      <a ui-sref="tabsController.homeopathicDilutions()" id="withDigestiveProblems-button1064" class="button button-positive button-block">Learn about homeopathic dilutions</a>
    </div>
  </ion-content>
</ion-view>